html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#container {
    display: flex;
    height: 100%;
    background-color: #f5f5f5; 
}

#sidebar {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
    padding: 20px;
    background-color: #ffffff; 
    box-shadow: 2px 0 5px rgba(0,0,0,0.1); 
    overflow-y: auto; 
}

button {
    font: bold 14px 'Roboto', sans-serif;
    background-color: #3386c0;
    color: #fff;
    border: none;
    width: calc(100% - 40px); /* Full-width minus padding */
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #4ea0da;
}

#output, .elevation-info {
    background-color: #fff;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    color: #333; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}

.distance-container, .elevation-info {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#map {
    height: 100%;
    width: auto;
    flex-grow: 1; /* Ensure map takes remaining space */
}
